rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{transaction} {
      // Regole per la lettura e modifica di documenti esistenti
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      
      // Regole per la creazione di nuovi documenti
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}
